ul{
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left: 0px;
	width: 100%;
	text-align: center;
}
/*for li tags*/
.liheader { 
	list-style-type: none;
	margin: 20px;
	padding: 0px;
	display: inline;
}
.topnav { 
	color: #000000;
	text-decoration: none;
}
a.topnav:link, a.topnav:visited, a.topnav:hover {
	color: #000000;
}
h1 {
	text-align: center;
}
.footer1 {
	color: #0000FF;
}
a.footer1:link, a.footerinline:visited, a.footerinline:hover {
	color: #0000FF;
}
