ul{
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left: 0px;
	width: 100%;
	text-align: center;
}
/*for li tags*/
.liheader { 
	list-style-type: none;
	margin: 20px;
	padding: 0px;
	display: inline;
}
.topnav { 
	color: #FFFFFF;	
}
a.topnav {text-decoration: none;}
a.topnav:link, a.topnav:visited, a.topnav:hover {
	color: #FFFFF;
}
h1 {
	text-align: center;
}
.footdef {
	color: #0000FF;
}
a.footdef {text-decoration: none;}
a.footdef:link, a.footdef:visited, a.footdef:hover {
	color: #0000FF;
}